[role="img"][aria-label]:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    z-index: 20;
    border-radius: 50px;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm {}
.avatarOffline-3GF27z {filter: grayscale(100%);}

/* padding for icons in friends list */
.avatar-3W3CeO{
    margin: 4px 12px 4px;
}

/* Remove board around avatar in popup */
.avatar-37jOim{
border: none;
}

.avatarOffline-3GF27z,
[role="img"][aria-label] {border: none;}
/* Removed old cut out for statsus */
.avatarOffline-3GF27z foreignObject,
[role="img"][aria-label] foreignObject {mask: none;}
/* Makes avitar round */
.avatarOffline-3GF27z foreignObject img,
[role="img"][aria-label] foreignObject img {border-radius: 50px;}
.avatarOffline-3GF27z  svg rect,
[role="img"][aria-label] svg rect {display: none;}

[role="img"][aria-label*="Online"]:before{
    border: 3px solid #43b581;
}
[role="img"][aria-label*="Do Not Disturb"]:before{
    border: 3px solid #f04747;
}
[role="img"][aria-label*="Idle"]:before{
     border: 3px solid #faa61a;
}
[role="img"][aria-label*="Streaming"]:before{
    border: 3px solid #6441a5;
}
[role="img"][aria-label*="Offline"]:before{
    border: 3px solid #747f8d;
}
.avatarOffline-3GF27z {
    border: 3px solid #747f8d;
}
[role="img"][aria-label*="Invisible"]:before{
    border: 3px solid #747f8d;
}
